<div>
  <table border="1" cellSpacing="0">
    <th colspan="2">
      <span>ENDEREÇO</span>
    </th>
    <tr>
      <td class="infoTabela">Rua:</td>
      <td>{{endereco.rua}}</td>
    </tr>
    <tr>
      <td>Bairro</td>
      <td>{{endereco.bairro}}</td>
    </tr>
    <tr>
      <td>Cidade:</td>
      <td>{{endereco.cidade}}</td>
    </tr>
    <tr>
      <td>Estado:</td>
      <td>{{endereco.estado}}</td>
    </tr>
    <tr>
      <td>CEP:</td>
      <td>{{endereco.cep}}</td>
    </tr>
  </table>
</div>
